<launch>
    <!-- Start dual_motor joint controller -->
    <rosparam file="$(find conbe)/config/joints.yaml" command="load"/>
    <node name="dual_motor_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port=conbe_L_port
                joint2_controller
                "
          output="screen"/> 
</launch>