
<launch>
    <!-- Non-standard joint names:
        - Create a file <robot_moveit_dir>/config/joint_names.yaml
            controller_joint_names: [joint_1, joint_2, ... joint_N] 
        - Update with joint names for your robot (in order expected by rbt controller)
        - and uncomment the following line: -->
    <rosparam command="load" file="$(find conbe_config)/config/joint_names.yaml"/>

    <!-- The planning and execution components of MoveIt! configured to 
    publish the current configuration of the robot (simulated or real)
    and the current state of the world as seen by the planner -->

    <include file="$(find conbe_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
    </include>
    
    <!-- The visualization component of MoveIt! -->
    <include file="$(find conbe_config)/launch/moveit_rviz.launch"/>

    <!-- <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="-0.42 -0.205 0.431 0 0 0 /world /camera_link 100" /> -->
    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="-0.42 -0.21 0.431 0 0 0 /world /camera_link 100" />

</launch>